*{
    margin:0;
    padding:0;
}
html{
    font-size: 10px;
}
@font-face {
    font-family: "signpainter";
    src: url(../SignPainter.ttf);
}
body{
    color:#fff;
    background-image: url("../image/observatory.webp");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: helvetica, sans-serif;
}
input{
    background-color: #292929;
    height:46px;
    padding:5px 16px;
    font-size: 1.6rem;
    box-sizing: border-box;
    border:none;
    margin-top:5px;
    color:#fff;
}
h2{
    font-family: "signpainter";
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1.1;
}
form{
    border:1px solid #6c6c6c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:15px 20px;
    color:#fff;
    background-color:rgba(51,51,51,.8);
   
}
form, input, label, button{
    border-radius: 6px;
}
label{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-family: helvetica, sans-serif;
    font-size: 1.4rem;
    margin-bottom:15px;
}
label:nth-last-of-type(1){
    flex-direction: row;
    align-items: center;
    margin-bottom:0;
}

/* label:nth-last-of-type(2){
    flex-direction: row;
    align-items: center;
    margin-bottom:0;
} */

label input[type="checkbox"]{
margin-right:5px;
}
button{
    border:1px solid #1ca445;
    background-color: #20ba4e;
    color:#fff;
    font-size: 1.8rem;
    padding:10px 16px;
}
button:hover{
    cursor: pointer;
    background-color: #13702f;;
}

.error{
    color:red;
    margin-top:10px;
}
label.error{
    margin-top:0;
}